* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --grey-dark: #141414;
  --grey-medium: #1f1f1f;
  --grey-color: #333333;
  --white-color: #fff;
  --green-color: #c4f82a;
  --font-family: "Inter", serif;
  --font-text: 14px;
  --font-m: 24px;
  --font-s: 16px;
}

html,
body {
  background-color: var(--grey-dark);
  color: var(--white-color);
  font-family: var(--font-family);
  font-size: var(--font-text);
}
